#description {
    color: rgb(70, 0, 225);
    font-size: 28px;
}

#odin {
    text-align: center;
}

.linka {
    font-size: 20px;
    color: black;
    
}

.class1 {
    background-color: rgb(173, 249, 255);
}

.class2 {
    background-color: rgb(255, 218, 92);
    
}

.class3 {
    background-color: rgb(230, 194, 240);
}


