#title {
    text-align: center;
    background-color: white;
    font-family: "Timew New Roman", sans-serif;
    font-weight: 600;

}

.header {
    color: white;
}

a {
    color: white;
    font-size: 15px;
}
